.vscode
src/__pycache__
other_src/WindFLO/API/__pycache__
results/data/*
results/figures/*
!results/data/.gitkeep
!results/figures/.gitkeep

other_src/WindFLO/release/libWindFLO_LINUX.so
other_src/WindFLO/release/main.o
other_src/WindFLO/release/userDefined.o
other_src/WindFLO/release/WindFLO_LINUX
terrain.dat