.vscode
src/__pycache__
other_src/WindFLO/API/__pycache__
results/data/*
results/figures/*/*
!results/data/.gitkeep
!results/figures/.gitkeep

!results/figures/quad_hex_f_variance/.gitkeep
!results/figures/venn/.gitkeep
!results/figures/compare_constraint_methods/.gitkeep

other_src/WindFLO/release/libWindFLO_LINUX.so
other_src/WindFLO/release/main.o
other_src/WindFLO/release/userDefined.o
other_src/WindFLO/release/WindFLO_LINUX
terrain.dat


# optimization history, saved state and output
*.cue
*.bin
*.out

other_src/pyOpt/build
*.pyc
**/f2py/*.c
**/f2py/*.f
*.so
.idea

__pycache__

*.egg-info
venv*
other_src/pyOpt/MANIFEST
WindFLO.inp
turbine*.inp
test.gif
log.txt
robotConfigFile.txt
*.gif
cache/*
!cache/.gitkeep
!cache/airframes_animationdata/
cache/airframes_animationdata/*
!cache/airframes_animationdata/.gitkeep
global_log.txt
*.log
train_dir
debuglog.txt
/*.zip