.vscode
src/__pycache__
other_src/WindFLO/API/__pycache__
results/data/*
results/figures/*/*
!results/data/.gitkeep
!results/figures/.gitkeep

!results/figures/repeatedly_different_train_seed/.gitkeep
!results/figures/venn/.gitkeep
!results/figures/compare_constraint_methods/.gitkeep

other_src/WindFLO/release/libWindFLO_LINUX.so
other_src/WindFLO/release/main.o
other_src/WindFLO/release/userDefined.o
other_src/WindFLO/release/WindFLO_LINUX
terrain.dat


# optimization history, saved state and output
*.cue
*.bin
*.out

other_src/pyOpt/build
*.pyc
**/f2py/*.c
**/f2py/*.f
*.so
.idea

__pycache__

*.egg-info
venv*
other_src/pyOpt/MANIFEST
WindFLO.inp
turbine*.inp
test.gif
log.txt
robotConfigFile.txt
*.gif
cache/*
!cache/.gitkeep
!cache/airframes_animationdata/
cache/airframes_animationdata/*
!cache/airframes_animationdata/.gitkeep
!cache/bokeh_interactive_plot/
cache/bokeh_interactive_plot/*
!cache/bokeh_interactive_plot/.gitkeep
global_log.txt
*.log
debuglog.txt
/*.zip
/*.mp4
test_control_report.pdf
src/welf.zip
code.code-workspace
test_control_old.pdf
info_dict.pt
test_*.pdf
manually_evaluated_best_found.pdf
manually_evaluated_trash.pdf
manually_evaluated.txt
ax_best_waypoint_cone_control_report.pdf
backup_old_results
*.html
demo_before.png
demo_after.png
demo_image.png
test_airframe_render.png

!cache/airframes_animationdata/
cache/airframes_animationdata/*
!cache/airframes_animationdata/.gitkeep

train_dir

!cache/ax_optimization_status/
cache/ax_optimization_status/*
!cache/ax_optimization_status/.gitkeep
gen_ppo.pth
policy.onnx
problem_airframes_train_and_enjoy.csv
